:root { 
    --gray-light: #E5E5E5;
    --gray: #828282;
    --gray-dark: #6C6C6C;
    --white: #FFFFFF;
    --black: #000000;
    --gold-dark: #8D6D1C;
    --gold: #A5800B;
    --red-dark: #6D0000;
    --red: #7F0000;
    --beige: #EDE8E6;
}
