<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <header>
        <a href="/">
            <img height="140" width="190" src="../images/Logo.svg" alt="website logo ressembling to Ks back to back that read Keshet underneath">
        </a>
        <nav class="nav">
            <a href="/" class="nav--link">inicio</a>
            <a href="/page/catalog.html" class="nav--link">catálogo</a>
            <a href="/page/contact.html" class="nav--link">contacto</a>
        </nav>
    </header>
</body>
</html>